
@model PizzaViewModel


@*3. Add partial view for showing details of a pizza and use it in both the Pizza Index and Pizza Details view.*@

<h5>@Model.Name is @Model.PizzaSize size , and it costs @Model.Price denars.</h5>