
@model HomeViewModel


<div class="text-center">
    <h1 class="display-4">Welcome to our burger world, it's delicious , you gonna love it!</h1>
    <h2 class="display-4">Our best-seller burger is @Model.MostPopularBurger.</h2>
    <h3 class="display-4">The total number of orders is @Model.NumberOfOrders and counting...</h3>
    <h4 class="display-4">The average price of the orders made at our Burger shop is @Model.AveragePrice denars. </h4>
</div>
