

@model BurgerViewModel


<h5><label asp-for="BurgerName" ></label> "@Html.DisplayFor(x => x.BurgerName)" it's delicious @Model.ChooseYourBurgerFit burger.</h5>


<p>The price of the  <label asp-for="BurgerName" ></label> "@Html.DisplayFor(x => x.BurgerName)"  is @Model.Price denars.</p>
